<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>
        <receiver
            android:name="medyo.com.core.dosage_alert.receiver.DosageAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="medyo.com.core.dosage_alert.receiver.DosageBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>

        </receiver>


        <activity
            android:name="medyo.com.core.dosage_alert.ui.DosageFullScreenActivity"
            android:exported="true"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:theme="@style/android:Theme.Material.NoActionBar"
            android:turnScreenOn="true" />

    </application>
</manifest>
